@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto:wght@400;500;700&display=swap");

:root {
  --main-color: #680ea0;
  --whitetext: #f0f9fa;
  --blacktext: #112a46;
  --greytext: #666;
  --header-bg: #fefeff;
  --maincontent-bg: #f8f9fa;

  /* secondary color  #680ea0
   #efe6f5
#7300e6
b30024
   black text
   #474549
   #222
   #112A46
   
#2b2a2a

white text
   #f0f1f1
   f8f9fa
   
   yellow bg EDF14C'
   green bg BAF14C
   blue : #
4CEDF1
cyan #
4CF1E8
dark cyan #
70EFE2


   */
}
body.color-1 {
  --main-color: #680ea0;
}
body.dark {
  --main-color: #07edec;
  --light-main-color: #f0f1f1;
  --whitetext: #2b2a2a;
  --blacktext: #f8f9fa;
  --greytext: #666;
  --header-bg: #010923;
  --maincontent-bg: #010923;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  line-height: 1.5;
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--maincontent-bg);
  padding-left: 36rem;
  color: var(--blacktext);
}
.main-content {
  margin: 0 5rem;
}

#menubar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background-color: var(--header-bg);
  font-size: 3rem;
  padding: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  display: none;
}
.hidden {
  display: none !important ;
}
/* --------contact-links start ------*/
.contact-links a {
  font-size: 3rem;
  font-weight: 700;
  color: var(--blacktext);
  padding: 2rem;
  text-align: center;
  opacity: 0.5;
  transition: 2s ease;
}
.contact-links a:hover {
  color: var(--main-color);
  opacity: 1;
  font-size: 3.2rem;
}

/* --------contact-links end------*/

.text {
  font-size: 2rem;
  padding: 1rem;
  text-align: start;
}
.heading {
  font-size: 4rem;
  font-weight: 700;
  padding: 0.2rem;
  position: relative;
  color: var(--blacktext);
}
.heading::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 3px;
  position: absolute;
  background-color: var(--main-color);
  top: 100%;
  left: 0;
}
.heading::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 3px;
  position: absolute;
  background-color: var(--main-color);
  top: 100%;
  margin-top: 10px;
  left: 0;
}

/* ------ header section start -----*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  padding: 8rem 2rem;
  width: 36rem;
  background-color: var(--header-bg);
  border-right: 1px solid var(--greytext);
  text-align: center;
}
/* --------logo start ------*/
.logo {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  font-family: "Clicker Script", cursive;
  color: var(--blacktext);
  padding: 0.5rem 2.5rem;
}
.logo::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 5px solid var(--main-color);
  border-left: 5px solid var(--main-color);
  border-radius: 0.8rem;
  top: 0;
  left: 0;
}
.logo::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-bottom: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  border-radius: 0.8rem;
  bottom: 0;
  right: 0;
}
/* --------logo end ------*/

/* --------navbar start ------*/
.header.nav {
  margin-top: 50px;
}
.header nav ul li {
  display: block;
  margin-bottom: 20px;
}
.header nav ul li a {
  font-size: 18px;
  font-weight: 700;
  color: var(--blacktext);
  position: relative;
}
.header nav ul li a:hover::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 100%;
  left: 0;
}

/* --------navbar end ------*/

/* --------Homepage start------*/

.homepage {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.homepage .homepage-intro {
  flex: 1 1 40rem;
}

.homepage .homepage-intro .hey {
  font-size: 2.5rem;
  color: var(--main-color);
}
.homepage .homepage-intro .name {
  font-size: 4.5rem;
  color: var(--blacktext);
  text-transform: uppercase;
}
.homepage .homepage-intro .name span {
  color: var(--main-color);
}
.homepage .homepage-intro .text1 {
  font-size: 2.5rem;
  color: var(--blacktext);
  padding: 1rem 0;
}
.homepage .homepage-intro .text2 {
  font-size: 1.7rem;
  color: var(--greytext);
  margin-bottom: 10px;
}
a .btn {
  margin-top: 1rem;
  margin-right: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.7rem;
  position: relative;
  background: none;
  background-color: var(--main-color);
  color: var(--whitetext);
  /*color: var(--blacktext);

  border: 2px solid var(--main-color);*/
}
a .btn:hover:before {
  content: "";
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  position: absolute;
  border-left: 5px solid var(--main-color);
  border-top: 5px solid var(--main-color);
  border-radius: 0.8rem;
}
a .btn:hover::after {
  content: "";
  width: 25px;
  height: 25px;
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  border-radius: 0.8rem;
}

a .btn:hover {
  /* background-color: var(--main-color);
  color: var(--whitetext);*/
  background: none;
  color: var(--blacktext);
}
.homepage > .homepage-img {
  flex: 1 1 40rem;
}
.homepage-img img {
  width: 80%;
  margin-top: 5rem;
}
/* --------Homepage end------*/

/* --------Aboutpage start------*/

.about-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 10rem;
}
.about-img {
  flex: 0 0 30%;
}
.about-img img {
  width: 100%;
  border-radius: 20%;
}
.about-intro {
  flex: 0 0 60%;
}
.about-intro .row-1 p {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
.about-intro .tab-titles {
  display: flex;
  flex-wrap: wrap;
}
.about-intro .tab-titles .tab-links {
  font-size: 2rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.about-intro.tab-titles .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}
.about-intro .tab-titles .tab-links.active-link::after {
  width: 70%;
}

.about-intro .tab-contents ul li {
  font-size: 1.7rem;
  margin: 12px 0;
  padding: 5px;
}
.about-intro .tab-contents ul li span {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
  padding: 15px 0;
}
.about-intro .tab-contents {
  display: none;
}
.about-intro .tab-contents.active-tab {
  display: block;
}

/* --------Aboutpage end------*/

/* --------Projectspage start------*/
.projectspage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-top: 5rem;
}
.projectlist-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.projectlist-container .projecttab-titles {
  margin: 5rem 0;
  display: flex;
  flex-wrap: wrap;
}
.projectlist-container .projecttab-titles .projecttab-links {
  font-size: 2rem;
  margin-right: 10rem;

  padding-top: 10px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.projectlist-container .projecttab-titles .projecttab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}
.projectlist-container .projecttab-contents {
  display: none;
}
.projectlist-container .projecttab-contents.projectactive-tab {
  display: block;
}
.projectlist-container
  .projecttab-titles
  .projecttab-links.projectactive-link::after {
  width: 70%;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.projects-list .project {
  width: 30%;
}
.projects-list .project img {
  width: 100%;
}

.project h2 {
  font-size: 1.7rem;
}
.project p {
  font-size: 1.5rem;
}
/* -------Projectpage end------*/

/* ------Contactpage end------*/
.contactpage {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  min-height: 100vh;
}
.contact-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 700px;
  box-shadow: 4px 4px 15px grey;
  border-radius: 5px;
  padding: 4rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.contact-form {
  flex: 0 0 40%;
  border-radius: 10px;
}
.contact-message {
  flex: 0 0 60%;
}

.form > label {
  font-size: 18px;
}
input {
  width: 80%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  margin-bottom: 20px;
}
textarea {
  width: 80%;
  height: 200px;
  padding: 1px;
  border: none;
  border-radius: 10px;
  resize: none;
  border: 2px solid var(--main-color);
  margin-bottom: 20px;
  text-align: left;
}

/* -------Contactpage end------*/

/* media queries*/

@media (max-width: 1355px) {
  .about-intro .tab-titles .tab-links,
  .projectlist-container .projecttab-titles .projecttab-links {
    margin-right: 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  body {
    padding-left: 0;
  }
  #menubar {
    display: inline;
  }
  .header {
    left: -150%;
  }
  .header.active {
    left: 0%;
  }
}

@media (max-width: 495px) {
  html {
    font-size: 50%;
  }

  .header {
    width: 100%;
  }
  .homepage {
    gap: 0;
  }

  .homepage-img img {
    width: 100%;
    margin-top: 0;
  }
  .about-conatiner {
    flex-direction: column;
  }
  .about-intro .tab-titles .tab-links,
  .projectlist-container .projecttab-titles .projecttab-links {
    margin-right: 2rem;
  }
  .projectlist-container .projecttab-titles .projecttab-links {
    font-size: 1.5rem;
  }
  .projectlist-container .projecttab-titles {
    margin-top: 5rem;
  }
  .projects-list {
    flex-direction: column;
  }
  .projects-list .project {
    width: 100%;
  }

  .contact-container {
    flex-direction: column;
    gap: 2rem;
  }
}
